<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.caounn.shares">

  <application>
    <activity
        android:name="com.tencent.tauth.AuthActivity"
        android:launchMode="singleTask"
        android:noHistory="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data android:scheme="${QZONE_ID}"/>
      </intent-filter>
    </activity>
    <activity
        android:name="com.tencent.connect.common.AssistActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"
        />

    <meta-data
        android:name="WEIBO_APPKEY"
        android:value="${WEIBO_ID}"/>
    <meta-data
        android:name="WEIBO_CHANNEL"
        android:value="${WEIBO_CHANNEL}"/>

  </application>
</manifest>
